.container-atividades-executadas{
    max-height:215px;
    overflow-y:auto;
    padding-right: 5px;
}
.dialog-content.registro-presenca{
    p{
        font-size:16px;
        margin: 0 0 10px 0;
    }
}
.dx-accordion {
    margin-top:20px;
}
.dx-accordion .dx-accordion-item-body p{
    font-size:14px;
}