.bg-manu{
    background: #2e3740 url("/assets/img/bg-manutencao.jpg") no-repeat center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
  }
  
  .login{
    h1{
      font-size: 24px;
    }
  }
  