.login{
    width: 370px;

    @media screen and (max-width:575px){
        width:100%;
    }

    [class*="col"] {
        padding: 0;
    }

    h1{
        font-size: 32px;
        margin: 0 0 20px 0;
    }

    .form-group{
        margin:0 0 10px 0;
    }

    p {
        margin: 0 0 10px 0;
    }

    .control-label {
        text-transform: uppercase;
        color: rgba($cor-branco, 0.5);
        font-size:16px;
        font-family: $font-Book;
        line-height: 2;
    }

    .mat-button {
        margin: 24px 0 0 0;
        overflow: hidden;
        position: relative;
        @include transition-padrao;

        &:hover{
            svg{
                left: 5px;
                @include box-shadow(0 0 0 500px $cor-branco);
            }

            .text-button{
                left: -5px;
                color: $cor-azulado;
            }
        }

        &:focus,
        &.cdk-focused,
        &.cdk-keyboard-focused{
            svg{
                left: 5px;
                @include box-shadow(0 0 0 500px $cor-branco);
            }

            .text-button{
                left: -5px;
                color: $cor-azulado;
            }
        }

        &:disabled{
            .text-button{
                left: 0;
                color: $cor-branco;
            }

            svg{
                left: 0;
                @include box-shadow(0 0 0 0 $cor-branco);
            }

            .mat-button-focus-overlay{
                opacity: 0;
            }
        }

        .mat-button-focus-overlay, 
        .mat-button-ripple{
            z-index: 2;
        }

        .text-button{
            position: relative;
            z-index: 1;
            @include transition-padrao;
            display: inline-block;
            left: 0;
        }

        svg{
            @include transition-padrao;
            color: $cor-azulado;
            background: $cor-branco;
            border-radius: 50px;
            margin: 0 5px 0 0;
            position: relative;
            z-index: 1;
            padding: 8px;
            left: 0;
            max-width: 36px;
            max-height: 36px;

            @include box-shadow(0 0 0 0 $cor-branco);
        }

        .mat-spinner{
            width: 36px;
            height: 36px;
            border-radius: 50px;
            display: inline-block;

            svg{
                left: 0;
            }
        }
    }
}