<header>
  <div class="row">
    <div class="col row justify-content-end actions-options">
      <div class="col-auto mr-3">
        <app-cadastro-de-grupo-de-valeta></app-cadastro-de-grupo-de-valeta>
      </div> 
      <div class="col-auto mr-3">
        <app-cadastro-de-valeta></app-cadastro-de-valeta>
      </div>
      <div class="col-auto mr-3">
        <app-logout></app-logout>
      </div>
       <div class="col-auto">
         <app-fullscreen></app-fullscreen> 
      </div> 
    </div>
  </div>
</header>